<h1>Edit an Article</h1>

<%= form_for(@artist) do |f| %>
	<p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :image_path %><br />
    <%= f.text_area :image_path %>
	</br>
		<%= f.submit %>
  </p>

	<% end %>
